#banner{
    width: 100%;
}

.main_title {
    text-align: center;
    color: #6d53ca;
}

.list {
    text-align: center;
}

.items {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    font-size: 25px;
    font-weight: bold;
    color: #8a49af;
}